soapClient/Backup/soapClient/Web References/mbrMax/MbrMaxWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://www.MemberMax.com/namespace/default" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MbrMaxWebService" targetNamespace="http://www.MemberMax.com/namespace/default" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types />
  <message name="SoapServicesTxtRequest">
    <part name="inText" type="xsd:string" />
  </message>
  <message name="SoapServicesBlobRequest">
    <part name="inText" type="xsd:string" />
  </message>
  <message name="SoapServicesTxtResponse">
    <part name="outText" type="xsd:string" />
  </message>
  <message name="SoapServicesBlobResponse">
    <part name="outBlob" type="xsd:base64Binary" />
  </message>
  <portType name="MbrMaxWebServicePortType">
    <operation name="SoapServicesTxt">
      <input message="tns:SoapServicesTxtRequest" />
      <output message="tns:SoapServicesTxtResponse" />
    </operation>
    <operation name="SoapServicesBlob">
      <input message="tns:SoapServicesBlobRequest" />
      <output message="tns:SoapServicesBlobResponse" />
    </operation>
  </portType>
  <binding name="MbrMaxWebServiceBinding" type="tns:MbrMaxWebServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="SoapServicesTxt">
      <documentation>no documentation is available</documentation>
      <soap:operation soapAction="MbrMaxWebService#SoapServicesTxt" />
      <input>
        <soap:body use="encoded" namespace="http://www.MemberMax.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://www.MemberMax.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SoapServicesBlob">
      <documentation>no documentation is available</documentation>
      <soap:operation soapAction="MbrMaxWebService#SoapServicesBlob" />
      <input>
        <soap:body use="encoded" namespace="http://www.MemberMax.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://www.MemberMax.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="MbrMaxWebService">
    <documentation>
    </documentation>
    <port name="MbrMaxWebServicePort" binding="tns:MbrMaxWebServiceBinding">
      <soap:address location="http://66.45.41.218:8087/4DSOAP/" />
    </port>
  </service>
</definitions>